#container{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size:1.5rem;
    padding: 10px 15px;
    background-color: rgb(188, 40, 35);
    border: none;
    border-radius: 5px;
    color:white;
    cursor:pointer;
}

button:hover{
    background-color: rgb(248, 112, 112);
    color:black;
}

button:active{
    background-color: rgb(129, 17, 17);
}

input{
    font-size:2rem;
    width: 150px;

}

#diceResult{
    margin: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#diceImages{
    margin: 5px;
    border-radius: 25px;
}